<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>商品登録情報の編集ページ</title>
<link rel="stylesheet" th:href="@{/css/list.css}"></link>
<link rel="stylesheet" th:href="@{/css/reset.css}">
<link rel="stylesheet" th:href="@{/css/test_style.css}">
</head>
<body>
    <header layout:replace="~{item/layout/app::header}"></header>

    <form method="post" th:action="@{/item/update}" th:object="${itemForm}">
        <div layout:replace="~{item/_form::form}"></div>
    </form>

    <p>
        <a href="#" onclick="confirmDestroy();">この商品情報を削除する</a>
    </p>

    <form method="post" th:action="@{/item/destroy}">
        <input type="hidden" th:value="${itemForm.id}" name="id" />
    </form>

    <script>
        function confirmDestroy() {
            if (confirm("本当に削除してよろしいですか？")) {
                document.forms[1].submit();
            }
        }
    </script>

    <p>
        <a th:href="@{/item/index}">一覧に戻る</a>
    </p>

    <footer layout:replace="~{item/layout/app::footer}"></footer>
</body>
</html>