<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>商品登録情報の編集ページ</title>
</head>
<body>
    <header layout:replace="~{item/layout/app::header}"></header>
    <form method="post" th:action="@{/item/update}" th:object="${itemForm}">
        <div layout:replace="~{item/_form::form}"></div>
    </form>

    <p><a th:href="@{/item/index}">一覧に戻る</a></p>

    <div layout:replace="~{item/layout/app::footer}"></div>
</body>
</html>