<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品情報一覧</title>
<link href="/css/list.css" rel="stylesheet"></link>
</head>
<body>
    <h1>商品情報一覧</h1>
    <table id="item_list">
        <thead>
            <tr>
                <th class="item_id">ID</th>
                <th class="item_name">名前</th>
                <!-- <th class="item_description">商品説明</th> -->
                <th class="item_action">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${items}" th:object="${item}">
                <td class="item_id" th:text="*{id}"></td>
                <td class="item_name" th:text="*{name}"></td>
                <td class="item_action"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>