<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>商品情報　一覧ページ</title>
<link rel="stylesheet" th:href="@{/css/list.css}"></link>
<link rel="stylesheet" th:href="@{/css/reset.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header layout:replace="~{/item/layout/app::header}"></header>
    <h1>商品情報一覧</h1>
    <table id="item_list">
        <thead>
            <tr>
                <th class="item_id">ID</th>
                <th class="item_name">名前</th>
                <th class="item_action">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${items}" th:object="${item}">
                <td class="item_id" th:text="*{id}"></td>
                <td class="item_name" th:text="*{name}"></td>
                <td class="item_action">
                    <th:block th:if="*{deleteFlag}">
                        (削除済み)
                    </th:block>
                    <th:block th:unless="*{deleteFlag}">
                        <a th:href="@{/item/show(id=${item.id})}">詳細を見る</a>
                    </th:block>
                </td>
            </tr>
        </tbody>
    </table>

    <p><a th:href="@{/item/new}">新規作成</a></p>

    <div layout:replace="~{item/layout/app::footer}"></div>
</body>
</html>