<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>商品情報の新規登録ページ</title>
<link rel="stylesheet" th:href="@{/css/list.css}"></link>
<link rel="stylesheet" th:href="@{/css/reset.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header layout:replace="~{item/layout/app::header}"></header>
    <form method="post" th:action="@{/item/create}" th:object="${itemForm}">
        <div layout:replace="~{item/_form::form}"></div>
    </form>

    <p><a th:href="@{/item/index}">一覧に戻る</a></p>

    <footer layout:replace="~{item/layout/app::footer}"></footer>
</body>
</html>