<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>商品情報　詳細ページ</title>
<link rel="stylesheet" th:href="@{/css/list.css}"></link>
<link rel="stylesheet" th:href="@{/css/reset.css}">
<link rel="stylesheet" th:href="@{/css/test_style.css}">
</head>
<body>
    <header layout:replace="~{/item/layout/app::header}"></header>
    <hr>
    <h1 th:text="'商品名：'+${item.name}+' の詳細ページ'"></h1>

    <table>
        <tbody th:object="${item}">
            <tr>
                <th>ID</th>
                <td th:text="*{id}"></td>
            </tr>
            <tr>
                <th>名前</th>
                <td th:text="*{name}"></td>
            </tr>
            <tr>
                <th>商品情報</th>
                <td><pre th:text="*{description}"></pre></td>
            </tr>
            <tr>
                <th>登録日時</th>
                <td th:text="${#temporals.format(item.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            <tr>
                <th>更新日時</th>
                <td th:text="${#temporals.format(item.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
        </tbody>
    </table>

    <p>
        <a th:href="@{/item/index}">一覧に戻る</a>
    </p>

    <p>
        <a th:href="@{/item/edit(id=${item.id})}">編集する</a>
    </p>

    <footer layout:replace="~{item/layout/app::footer}"></footer>
</body>
</html>