<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>エラー　ページ</title>
<link rel="stylesheet" th:href="@{/css/reset.css}">
<link rel="stylesheet" th:href="@{/css/test_style.css}">
</head>
<body>
    <header layout:replace="~{/item/layout/app::header}"></header>
    <hr>
    <h2>お探しのページは見つかりませんでした</h2>

    <footer layout:replace="~{item/layout/app::footer}"></footer>
</body>
</html>